    /************************************************/
    
    .upperHeader {
        margin-bottom: 5%;
    }
    /*******************Search****************************/
    
    .searchTitle {
        padding-right: 300px;
    }
    /*************************************************************************************/
    
    .searchNavtable {
        display: flex;
        margin-left: 357px;
    }
    /****************************SearchMagnified******************************************/
    
    .columnSearchmag {
        float: left;
        width: 50%;
    }
    
    .rowSearchmag {
        content: "";
        display: table;
        clear: both;
    }
    /* Reset browser's padding and margin */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        margin: 200px auto;
        width: 400px;
        height: 60px
    }
    /* magnify glass */
    
    .form {
        display: flex;
        flex-direction: row;
    }
    
    .search-field {
        width: 100%;
        padding: 30px 5px 10px 20px;
        border: none;
        border-radius: 100px;
        outline: none;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .search-button {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -30px;
    }
    
    .search-button img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
    
    #navIcon {
        width: 100px;
        height: auto;
        background: transparent;
        background-color: transparent;
    }
    /*******************Books you read last****************************/
    /******.scrollRecentbooks {
    margin-left: 200px;


.scrollRecentbooks h2 {
    padding-bottom: 40px;
}

.columnShelf {
    float: left;
    width: 50%;
    margin: 50px;
    bottom: 100px;
    padding-left: 200px;
}

.rowShelf::after {
    content: "";
    display: table;
    clear: both;
    flex: content;
}

.rowShelf img {
    border-radius: 30px;
}

.bookCover {
    border-style: solid;
    padding-top: -100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}

.row #navIcon {
    width: 100px;
    height: auto;
    background: transparent;
    background-color: transparent;
}

******/
    /*******************Booksbox****************************/
    
    .rowBookbox::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .columnRookbox {
        float: left;
        width: 50%;
        padding: 5px;
    }
    /********************* Registration Screen***************************/
    
    #regImage {
        width: 150px;
        margin-left: 500px;
        align-items: center;
    }
    
    #noteTake {
        width: 20px;
    }
    
    input[type=text] {
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 5px;
        background: #f1f1f1;
    }
    
    .registerTable {
        background-color: #f7f3f3;
        margin-bottom: 80px;
        margin-top: 10px;
        border-color: #e0dbdb;
        border: solid 0.1em;
        border-radius: 15px;
    }
    /* Set a style for the submit/register button */
    
    .registerbtn {
        background-color: #FF9900;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: solid 0.1em;
        border-color: #000000;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .registerbtn:hover {
        opacity: 1;
    }
    /* Add a blue text color to links */
    
    .registerTable a {
        color: dodgerblue;
    }
    /* Set a grey background color and center the text of the "sign in" section */
    
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
    /**********************************************************************************************************************************/
    /******************REGISTRATION2 FINAL*****************************/
    
    @font-face {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        src: url('\font\alternative-amazon-font\FiraSansCondensed-SemiBold')format('truetype');
    }
    
    .body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .register {
        background: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 400px;
    }
    
    .registerLogo {
        margin-top: 20px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    
    .registerLogo {
        width: 100px;
    }
    
    .registerBox {
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid lightgray;
        padding: 15px;
    }
    
    .registerForm input {
        height: 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        outline: none;
        width: 98%;
        border: 1px solid grey;
    }
    
    .registerForm .input:focus {
        border: 2px solid orange;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    }
    
    .registerBox p {
        margin-top: 15px;
        font-size: 12px;
        justify-content: justify;
    }
    
    .register a {
        cursor: pointer;
        color: #1167b1;
        text-decoration: none;
    }
    
    .register a:hover {
        color: #FF9900;
        text-decoration: underline;
    }
    
    .register_registerButton {
        cursor: pointer;
        background-color: #FF9900;
        background-image: linear-gradient(62deg, #FF9900 0%, #F7CE68 100%);
        border-radius: 2px;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
    }
    
    .registerBox Button {
        cursor: pointer;
        border-radius: 2px;
        width: 100%;
        outline: none;
        border: 1px solid;
        border-color: darkgray;
        margin: top 10px;
    }
    /**********************************************************************************************************************************/
    /*******************Books you read last****************************/
    
    .NewReleases {
        padding-left: 180px;
        margin-right: 50px;
        position: relative;
        margin-top: 160px;
    }
    
    .columnReleases {
        float: left;
        width: 16.667%;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .rowReleses::after {
        content: "";
        display: table;
        clear: both;
    }
    
    #titleNewReleases {
        padding-left: 20px
    }
    
    .NewReleases h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .NewReleases button {
        margin-top: 20px;
        border-radius: 40px;
        padding: 7px;
        color: #000000;
        background-color: #D0D0D0;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .NewReleases img {
        border-radius: 40px;
    }
    /**********************************************************************************************************************************/
    /******************* there are two sidebars lefts side and right side panel styling

/******************* lifesidebar****************************/
    
    .leftsidebar {
        background-color: rgb(114, 97, 97);
        height: 1250px;
        width: 300px;
        float: left;
        padding-bottom: 100px;
        position: relative;
        margin-right: 114px;
        bottom: 28rem;
    }
    
    #userImage {
        margin-top: 40px;
        padding: 40px;
        border-radius: 80px;
        height: 200px;
        align-items: center;
    }
    
    .userName h2 {
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    
    .userName h1 {
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    
    .userName {
        border-color: #1167b1;
        background-color: #1167b1;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
    }
    
    .leftsidebar_table img {
        width: 24px;
        height: 24px;
        margin-top: 60px;
        margin-left: 50px;
    }
    
    .leftsidebar_table {
        margin-top: 40px;
    }
    
    #productAmazon {
        width: 300px;
        height: auto;
        margin-top: 180px;
        margin-left: -30px;
    }
    /******************* rightsidebar****************************/
    
    .rightsidebar {
        background-color: #846a29;
        height: 750px;
        width: 460px;
        float: right;
        position: relative;
        bottom: 80em;
        left: 230px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
    }
    
    .rightsidebar img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        align-items: center;
        margin-left: 60px;
    }
    
    .rightsidebar h2 {
        align-items: center;
        justify-content: center;
        padding-left: 100px;
        margin-top: 60px;
        padding-bottom: 100px;
    }
    
    .rightsidebar tr {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    /**********************************************************************************************************************************/